body {
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: #f0f0f0;
  }
  
  /*
    1. Создай анимацию под названием bounce:
        @keyframes bounce {
        
        }
        Внутри запрограммируй:
            0%, 100% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-200px);
            }

    2. В селекторе ball напиши свойство animation со значениями:
    bounce 1s infinite ease-in-out;
  */
  .ball {
    width: 60px;
    height: 60px;
    background-color: tomato;
    border-radius: 50%;
    /* #2 */
  }
  
  /* #1 */
  